.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
}

.event {
  background: #555;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.divider {
  min-height: 1px;
}
